<h1><%= @user.name %>'s page</h1>
<p>
  profile picture:
  <% if @user.image? %>
    <%= image_tag @user.image.url %>
  <% end %>
</p>
<p>EmailAddress: <%= @user.email %></p>
<%= link_to 'Post', new_picture_path %>
<br>
<%= link_to 'Edit profile', edit_user_path(current_user.id)%>
<br>
<%= link_to 'Bookmark list', favorite_path(current_user.id)%>

