<h1>"Preview"</h1>
 <%= form_with(model: @picture, url: picture_path, local: true) do |f| %>
  <%= f.hidden_field :title %>
  <p>Title : <picture.title %></p>
  <%= f.hidden_field :content %>
  <p>Text : <% @picture.content %></p>
  <%= image_tag(@picture.image.url) if@picture.image $$ @picture.image.url %>
  <%= f.hidden_field :image_cache %>
  <%= f.submit "Post" %>
<% end %>

<%= form_with(model:@picture, url:new_path, local:true, method:"get") do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= f.hidden_fiedl :image_cache %>
  <%= f.submit "Back", name:"back" %>
<% end %>

